@charset "UTF-8";
@font-face {
  font-family: "julyico";
  src: url("fonts/julyico.eot?zgh3xg");
  src: url("fonts/julyico.eot?zgh3xg#iefix") format("embedded-opentype"), url("fonts/julyico.ttf?zgh3xg") format("truetype"), url("fonts/julyico.woff?zgh3xg") format("woff"), url("fonts/julyico.svg?zgh3xg#julyico") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


i[class^="jdsi-"], span[class^="jdsi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "julyico" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jdsi-Printer:before {
  content: "";
}

.jdsi-account:before {
  content: "";
}

.jdsi-add-user:before {
  content: "";
}

.jdsi-alarm-warning:before {
  content: "";
}

.jdsi-align-center:before {
  content: "";
}

.jdsi-align-justify:before {
  content: "";
}

.jdsi-align-left:before {
  content: "";
}

.jdsi-align-right:before {
  content: "";
}

.jdsi-announcement:before {
  content: "";
}

.jdsi-arrow-back:before {
  content: "";
}

.jdsi-arrow-begin:before {
  content: "";
}

.jdsi-arrow-down:before {
  content: "";
}

.jdsi-arrow-end:before {
  content: "";
}

.jdsi-arrow-first:before {
  content: "";
}

.jdsi-arrow-last:before {
  content: "";
}

.jdsi-arrow-left:before {
  content: "";
}

.jdsi-arrow-left-double:before {
  content: "";
}

.jdsi-arrow-left-long:before {
  content: "";
}

.jdsi-arrow-right:before {
  content: "";
}

.jdsi-arrow-right-double:before {
  content: "";
}

.jdsi-arrow-right-long:before {
  content: "";
}

.jdsi-arrow-right-top:before {
  content: "";
}

.jdsi-arrow-up:before {
  content: "";
}

.jdsi-article:before {
  content: "";
}

.jdsi-at:before {
  content: "";
}

.jdsi-attachment:before {
  content: "";
}

.jdsi-award:before {
  content: "";
}

.jdsi-bank-card:before {
  content: "";
}

.jdsi-bar-chart:before {
  content: "";
}

.jdsi-barricade:before {
  content: "";
}

.jdsi-blueprint:before {
  content: "";
}

.jdsi-bolt:before {
  content: "";
}

.jdsi-book:before {
  content: "";
}

.jdsi-book-open:before {
  content: "";
}

.jdsi-bookmark:before {
  content: "";
}

.jdsi-bookmark-minus:before {
  content: "";
}

.jdsi-bookmark-star:before {
  content: "";
}

.jdsi-briefcase:before {
  content: "";
}

.jdsi-brush:before {
  content: "";
  color: #155c9e;
}

.jdsi-bug:before {
  content: "";
}

.jdsi-building:before {
  content: "";
}

.jdsi-calculate:before {
  content: "";
}

.jdsi-calendar:before {
  content: "";
}

.jdsi-certificate:before {
  content: "";
}

.jdsi-chart-customize:before {
  content: "";
}

.jdsi-chat:before {
  content: "";
}

.jdsi-circle-album:before {
  content: "";
}

.jdsi-clipboard:before {
  content: "";
}

.jdsi-clock:before {
  content: "";
}

.jdsi-clock-alram:before {
  content: "";
}

.jdsi-close:before {
  content: "";
}

.jdsi-cloud:before {
  content: "";
}

.jdsi-cloud-check:before {
  content: "";
}

.jdsi-cloud-close:before {
  content: "";
}

.jdsi-cloud-crack:before {
  content: "";
}

.jdsi-cloud-down:before {
  content: "";
}

.jdsi-cloud-off:before {
  content: "";
}

.jdsi-cloud-up:before {
  content: "";
}

.jdsi-code:before {
  content: "";
}

.jdsi-collapse-around:before {
  content: "";
}

.jdsi-community:before {
  content: "";
}

.jdsi-community-building:before {
  content: "";
}

.jdsi-company:before {
  content: "";
}

.jdsi-compass:before {
  content: "";
}

.jdsi-configuration:before {
  content: "";
}

.jdsi-confused:before {
  content: "";
}

.jdsi-contacts:before {
  content: "";
}

.jdsi-copy:before {
  content: "";
}

.jdsi-countdown:before {
  content: "";
}

.jdsi-cross-box:before {
  content: "";
}

.jdsi-cross-circle:before {
  content: "";
}

.jdsi-cross-open:before {
  content: "";
}

.jdsi-crown:before {
  content: "";
}

.jdsi-cup:before {
  content: "";
}

.jdsi-currency-boxes:before {
  content: "";
}

.jdsi-cut:before {
  content: "";
}

.jdsi-delete:before {
  content: "";
}

.jdsi-devices:before {
  content: "";
}

.jdsi-diamond:before {
  content: "";
}

.jdsi-documant:before {
  content: "";
}

.jdsi-dollar:before {
  content: "";
}

.jdsi-door-lock:before {
  content: "";
}

.jdsi-double-quotes-left:before {
  content: "";
}

.jdsi-double-quotes-right:before {
  content: "";
}

.jdsi-download:before {
  content: "";
}

.jdsi-earth:before {
  content: "";
}

.jdsi-edit:before {
  content: "";
}

.jdsi-education:before {
  content: "";
}

.jdsi-enroll:before {
  content: "";
}

.jdsi-error:before {
  content: "";
}

.jdsi-error-open:before {
  content: "";
}

.jdsi-excel:before {
  content: "";
}

.jdsi-excel-files:before {
  content: "";
}

.jdsi-exchange-box:before {
  content: "";
}

.jdsi-expand-around:before {
  content: "";
}

.jdsi-eye:before {
  content: "";
}

.jdsi-eye-off:before {
  content: "";
}

.jdsi-face-mask:before {
  content: "";
}

.jdsi-fax:before {
  content: "";
}

.jdsi-female:before {
  content: "";
}

.jdsi-file:before {
  content: "";
}

.jdsi-file-pdf:before {
  content: "";
}

.jdsi-file-shred:before {
  content: "";
}

.jdsi-file-unknow:before {
  content: "";
}

.jdsi-files-unknow:before {
  content: "";
}

.jdsi-filter:before {
  content: "";
}

.jdsi-filtering:before {
  content: "";
}

.jdsi-fire:before {
  content: "";
}

.jdsi-flag:before {
  content: "";
}

.jdsi-flag-wind:before {
  content: "";
}

.jdsi-focus:before {
  content: "";
}

.jdsi-fold-paper:before {
  content: "";
}

.jdsi-folder:before {
  content: "";
}

.jdsi-folder-open:before {
  content: "";
}

.jdsi-folders:before {
  content: "";
}

.jdsi-forward:before {
  content: "";
}

.jdsi-function:before {
  content: "";
}

.jdsi-function-e:before {
  content: "";
}

.jdsi-global-net:before {
  content: "";
}

.jdsi-globe:before {
  content: "";
}

.jdsi-graph-chart:before {
  content: "";
}

.jdsi-grid:before {
  content: "";
}

.jdsi-hamburger:before {
  content: "";
}

.jdsi-handshake:before {
  content: "";
}

.jdsi-happy:before {
  content: "";
}

.jdsi-heart:before {
  content: "";
}

.jdsi-help-box:before {
  content: "";
}

.jdsi-help-cercle:before {
  content: "";
}

.jdsi-help-open:before {
  content: "";
}

.jdsi-home:before {
  content: "";
}

.jdsi-honour:before {
  content: "";
}

.jdsi-ico:before {
  content: "";
}

.jdsi-image:before {
  content: "";
}

.jdsi-image-place:before {
  content: "";
}

.jdsi-incognito:before {
  content: "";
}

.jdsi-industry:before {
  content: "";
}

.jdsi-key:before {
  content: "";
}

.jdsi-laptop:before {
  content: "";
}

.jdsi-lifebuoy:before {
  content: "";
}

.jdsi-light:before {
  content: "";
}

.jdsi-light-flash:before {
  content: "";
}

.jdsi-link:before {
  content: "";
}

.jdsi-list:before {
  content: "";
}

.jdsi-loading:before {
  content: "";
}

.jdsi-lock:before {
  content: "";
}

.jdsi-login-box:before {
  content: "";
}

.jdsi-login-circle:before {
  content: "";
}

.jdsi-logo-july:before {
  content: "";
}

.jdsi-logo-unify:before {
  content: "";
}

.jdsi-logout-box:before {
  content: "";
}

.jdsi-logout-circle:before {
  content: "";
}

.jdsi-magic:before {
  content: "";
}

.jdsi-magnet:before {
  content: "";
}

.jdsi-mail:before {
  content: "";
}

.jdsi-mail-add:before {
  content: "";
}

.jdsi-mail-check:before {
  content: "";
}

.jdsi-mail-close:before {
  content: "";
}

.jdsi-mail-download:before {
  content: "";
}

.jdsi-mail-forbid:before {
  content: "";
}

.jdsi-mail-inbox:before {
  content: "";
}

.jdsi-mail-lock:before {
  content: "";
}

.jdsi-mail-open:before {
  content: "";
}

.jdsi-mail-search:before {
  content: "";
}

.jdsi-mail-send:before {
  content: "";
}

.jdsi-mail-settings:before {
  content: "";
}

.jdsi-mail-star:before {
  content: "";
}

.jdsi-mail-unread:before {
  content: "";
}

.jdsi-male:before {
  content: "";
}

.jdsi-manage:before {
  content: "";
}

.jdsi-map-pin:before {
  content: "";
}

.jdsi-map-pin-land:before {
  content: "";
}

.jdsi-measurement:before {
  content: "";
}

.jdsi-message:before {
  content: "";
}

.jdsi-mic:before {
  content: "";
}

.jdsi-mic-off:before {
  content: "";
}

.jdsi-minus:before {
  content: "";
}

.jdsi-money-box:before {
  content: "";
}

.jdsi-money-circle:before {
  content: "";
}

.jdsi-monitor:before {
  content: "";
}

.jdsi-moon:before {
  content: "";
}

.jdsi-more-h:before {
  content: "";
}

.jdsi-more-v:before {
  content: "";
}

.jdsi-mouse:before {
  content: "";
}

.jdsi-newspaper:before {
  content: "";
}

.jdsi-notification:before {
  content: "";
}

.jdsi-number0:before {
  content: "";
}

.jdsi-number1:before {
  content: "";
}

.jdsi-number2:before {
  content: "";
}

.jdsi-number3:before {
  content: "";
}

.jdsi-number4:before {
  content: "";
}

.jdsi-number5:before {
  content: "";
}

.jdsi-number6:before {
  content: "";
}

.jdsi-number7:before {
  content: "";
}

.jdsi-number8:before {
  content: "";
}

.jdsi-number9:before {
  content: "";
}

.jdsi-owl:before {
  content: "";
}

.jdsi-paintbucket:before {
  content: "";
}

.jdsi-palette:before {
  content: "";
}

.jdsi-participants:before {
  content: "";
}

.jdsi-pdf:before {
  content: "";
}

.jdsi-percent:before {
  content: "";
}

.jdsi-phone:before {
  content: "";
}

.jdsi-pie-chart:before {
  content: "";
}

.jdsi-pin:before {
  content: "";
}

.jdsi-plant:before {
  content: "";
}

.jdsi-plus:before {
  content: "";
}

.jdsi-power:before {
  content: "";
}

.jdsi-product:before {
  content: "";
}

.jdsi-project:before {
  content: "";
}

.jdsi-question-answer:before {
  content: "";
}

.jdsi-quill-pen:before {
  content: "";
}

.jdsi-radar:before {
  content: "";
}

.jdsi-record:before {
  content: "";
}

.jdsi-refrash:before {
  content: "";
}

.jdsi-refresh:before {
  content: "";
}

.jdsi-reload:before {
  content: "";
}

.jdsi-reply:before {
  content: "";
}

.jdsi-reply-all:before {
  content: "";
}

.jdsi-right:before {
  content: "";
}

.jdsi-right-box:before {
  content: "";
}

.jdsi-right-circle:before {
  content: "";
}

.jdsi-right-double:before {
  content: "";
}

.jdsi-right-open:before {
  content: "";
}

.jdsi-rocket:before {
  content: "";
}

.jdsi-sad:before {
  content: "";
}

.jdsi-safe:before {
  content: "";
}

.jdsi-safe-vault:before {
  content: "";
}

.jdsi-save:before {
  content: "";
}

.jdsi-search:before {
  content: "";
}

.jdsi-secured:before {
  content: "";
}

.jdsi-security-user:before {
  content: "";
}

.jdsi-send:before {
  content: "";
}

.jdsi-sensor:before {
  content: "";
}

.jdsi-server:before {
  content: "";
}

.jdsi-settings:before {
  content: "";
}

.jdsi-share:before {
  content: "";
}

.jdsi-share-forward:before {
  content: "";
}

.jdsi-shield:before {
  content: "";
}

.jdsi-shield-star:before {
  content: "";
}

.jdsi-single-quotes-left:before {
  content: "";
}

.jdsi-single-quotes-right:before {
  content: "";
}

.jdsi-small-home:before {
  content: "";
}

.jdsi-smartphone:before {
  content: "";
}

.jdsi-stack:before {
  content: "";
}

.jdsi-star:before {
  content: "";
}

.jdsi-sun:before {
  content: "";
}

.jdsi-swap:before {
  content: "";
}

.jdsi-tablet:before {
  content: "";
}

.jdsi-team:before {
  content: "";
}

.jdsi-thumb-down:before {
  content: "";
}

.jdsi-thumb-up:before {
  content: "";
}

.jdsi-todo:before {
  content: "";
}

.jdsi-toogle:before {
  content: "";
}

.jdsi-tools-manage:before {
  content: "";
}

.jdsi-trophy:before {
  content: "";
}

.jdsi-umbrella:before {
  content: "";
}

.jdsi-upload:before {
  content: "";
}

.jdsi-user:before {
  content: "";
}

.jdsi-vidicon:before {
  content: "";
}

.jdsi-volume-down:before {
  content: "";
}

.jdsi-volume-mute:before {
  content: "";
}

.jdsi-volume-up:before {
  content: "";
}

.jdsi-wallet:before {
  content: "";
}

.jdsi-webcam:before {
  content: "";
}

.jdsi-window:before {
  content: "";
}

.jdsi-woman:before {
  content: "";
}

.jdsi-word:before {
  content: "";
}

.jdsi-word-files:before {
  content: "";
}

.jdsi-worning-triangle:before {
  content: "";
}

.jdsi-wpexplorer:before {
  content: "";
}

.jdsi-zoom-in:before {
  content: "";
}

.jdsi-zoom-out:before {
  content: "";
}

.jdsi-account-solid:before {
  content: "";
}

.jdsi-add-user-solid:before {
  content: "";
}

.jdsi-alarm-warning-solid:before {
  content: "";
}

.jdsi-announcement-solid:before {
  content: "";
}

.jdsi-arrow-back-solid:before {
  content: "";
}

.jdsi-arrow-begin-solid:before {
  content: "";
}

.jdsi-arrow-down-solid:before {
  content: "";
}

.jdsi-arrow-end-solid:before {
  content: "";
}

.jdsi-arrow-first-solid:before {
  content: "";
}

.jdsi-arrow-last-solid:before {
  content: "";
}

.jdsi-arrow-left-double-solid:before {
  content: "";
}

.jdsi-arrow-left-long-solid:before {
  content: "";
}

.jdsi-arrow-left-solid:before {
  content: "";
}

.jdsi-arrow-right-double-solid:before {
  content: "";
}

.jdsi-arrow-right-long-solid:before {
  content: "";
}

.jdsi-arrow-right-solid:before {
  content: "";
}

.jdsi-arrow-right-top-solid:before {
  content: "";
}

.jdsi-arrow-up-solid:before {
  content: "";
}

.jdsi-article-solid:before {
  content: "";
}

.jdsi-at-solid:before {
  content: "";
}

.jdsi-award-solid:before {
  content: "";
}

.jdsi-bank-card-solid:before {
  content: "";
}

.jdsi-bar-chart-solid:before {
  content: "";
}

.jdsi-barricade-solid:before {
  content: "";
}

.jdsi-blueprint-solid:before {
  content: "";
}

.jdsi-bolt-solid:before {
  content: "";
}

.jdsi-book-open-solid:before {
  content: "";
}

.jdsi-book-solid:before {
  content: "";
}

.jdsi-bookmark-minus-solid:before {
  content: "";
}

.jdsi-bookmark-solid:before {
  content: "";
}

.jdsi-bookmark-star-solid:before {
  content: "";
}

.jdsi-briefcase-solid:before {
  content: "";
}

.jdsi-brush-solid:before {
  content: "";
}

.jdsi-bug-solid:before {
  content: "";
}

.jdsi-building-solid:before {
  content: "";
}

.jdsi-calculate-solid:before {
  content: "";
}

.jdsi-calendar-solid:before {
  content: "";
}

.jdsi-carrot-down-solid:before {
  content: "";
}

.jdsi-carrot-first-solid:before {
  content: "";
}

.jdsi-carrot-last-solid:before {
  content: "";
}

.jdsi-carrot-left-solid:before {
  content: "";
}

.jdsi-carrot-right-solid:before {
  content: "";
}

.jdsi-carrot-up-down-solid:before {
  content: "";
}

.jdsi-carrot-up-solid:before {
  content: "";
}

.jdsi-certificate-solid:before {
  content: "";
}

.jdsi-chart-customize-solid:before {
  content: "";
}

.jdsi-chat-solid:before {
  content: "";
}

.jdsi-circle-album-solid:before {
  content: "";
}

.jdsi-clipboard-solid:before {
  content: "";
}

.jdsi-clise-solid:before {
  content: "";
}

.jdsi-clock-alram-solid:before {
  content: "";
}

.jdsi-clock-solid:before {
  content: "";
}

.jdsi-cloud-check-solid:before {
  content: "";
}

.jdsi-cloud-close-solid:before {
  content: "";
}

.jdsi-cloud-crack-solid:before {
  content: "";
}

.jdsi-cloud-down-solid:before {
  content: "";
}

.jdsi-cloud-off-solid:before {
  content: "";
}

.jdsi-cloud-solid:before {
  content: "";
}

.jdsi-cloud-up-solid:before {
  content: "";
}

.jdsi-code-solid:before {
  content: "";
}

.jdsi-collapse-around-solid:before {
  content: "";
}

.jdsi-community-building-solid:before {
  content: "";
}

.jdsi-community-solid:before {
  content: "";
}

.jdsi-company-solid:before {
  content: "";
}

.jdsi-compass-solid:before {
  content: "";
}

.jdsi-configuration-solid:before {
  content: "";
}

.jdsi-confused-solid:before {
  content: "";
}

.jdsi-contacts-solid:before {
  content: "";
}

.jdsi-copy-solid:before {
  content: "";
}

.jdsi-countdown-solid:before {
  content: "";
}

.jdsi-cross-box-solid:before {
  content: "";
}

.jdsi-cross-circle-solid:before {
  content: "";
}

.jdsi-crown-solid:before {
  content: "";
}

.jdsi-cup-solid:before {
  content: "";
}

.jdsi-currency-boxes-solid:before {
  content: "";
}

.jdsi-cut-solid:before {
  content: "";
}

.jdsi-delete-solid:before {
  content: "";
}

.jdsi-devices-solid:before {
  content: "";
}

.jdsi-diamond-solid:before {
  content: "";
}

.jdsi-documant-solid:before {
  content: "";
}

.jdsi-dollar-solid:before {
  content: "";
}

.jdsi-door-lock-solid:before {
  content: "";
}

.jdsi-download-solid:before {
  content: "";
}

.jdsi-earth-solid:before {
  content: "";
}

.jdsi-edit-solid:before {
  content: "";
}

.jdsi-education-solid:before {
  content: "";
}

.jdsi-error-solid:before {
  content: "";
}

.jdsi-excel-files-solid:before {
  content: "";
}

.jdsi-excel-solid:before {
  content: "";
}

.jdsi-exchange-box-solid:before {
  content: "";
}

.jdsi-expand-around-solid:before {
  content: "";
}

.jdsi-eye-off-solid:before {
  content: "";
}

.jdsi-eye-solid:before {
  content: "";
}

.jdsi-face-mask-solid:before {
  content: "";
}

.jdsi-fax-solid:before {
  content: "";
}

.jdsi-female-solid:before {
  content: "";
}

.jdsi-file-pdf-solid:before {
  content: "";
}

.jdsi-file-shred-solid:before {
  content: "";
}

.jdsi-file-solid:before {
  content: "";
}

.jdsi-file-unknow-solid:before {
  content: "";
}

.jdsi-files-unknow-solid:before {
  content: "";
}

.jdsi-filling-solid:before {
  content: "";
}

.jdsi-filter-solid:before {
  content: "";
}

.jdsi-fire-solid:before {
  content: "";
}

.jdsi-flag-solid:before {
  content: "";
}

.jdsi-flag-wind-solid:before {
  content: "";
}

.jdsi-focus-solid:before {
  content: "";
}

.jdsi-fold-paper-solid:before {
  content: "";
}

.jdsi-folder-open-solid:before {
  content: "";
}

.jdsi-folder-solid:before {
  content: "";
}

.jdsi-folders-solid:before {
  content: "";
}

.jdsi-forward-solid:before {
  content: "";
}

.jdsi-function-solis:before {
  content: "";
}

.jdsi-global-net-solid:before {
  content: "";
}

.jdsi-globe-solid:before {
  content: "";
}

.jdsi-graph-chart-solid:before {
  content: "";
}

.jdsi-grid-solid:before {
  content: "";
}

.jdsi-hamburger-solid:before {
  content: "";
}

.jdsi-handshake-solid:before {
  content: "";
}

.jdsi-happy-solid:before {
  content: "";
}

.jdsi-heart-solid:before {
  content: "";
}

.jdsi-help-box-solid:before {
  content: "";
}

.jdsi-help-cercle-solid:before {
  content: "";
}

.jdsi-home-solid:before {
  content: "";
}

.jdsi-honour-solid:before {
  content: "";
}

.jdsi-image-place-solid:before {
  content: "";
}

.jdsi-image-solid:before {
  content: "";
}

.jdsi-incognito-solid:before {
  content: "";
}

.jdsi-industry-solid:before {
  content: "";
}

.jdsi-key-solid:before {
  content: "";
}

.jdsi-laptop-solid:before {
  content: "";
}

.jdsi-lifebuoy-solid:before {
  content: "";
}

.jdsi-light-flash-solid:before {
  content: "";
}

.jdsi-light-solid:before {
  content: "";
}

.jdsi-link-solid:before {
  content: "";
}

.jdsi-list-solid:before {
  content: "";
}

.jdsi-lock-solid:before {
  content: "";
}

.jdsi-login-box-solid:before {
  content: "";
}

.jdsi-login-circle-solid:before {
  content: "";
}

.jdsi-logout-box-solid:before {
  content: "";
}

.jdsi-logout-circle-solid:before {
  content: "";
}

.jdsi-magic-solid:before {
  content: "";
}

.jdsi-magnet-solid:before {
  content: "";
}

.jdsi-mail-add-solid:before {
  content: "";
}

.jdsi-mail-check-solid:before {
  content: "";
}

.jdsi-mail-close-solid:before {
  content: "";
}

.jdsi-mail-download-solid:before {
  content: "";
}

.jdsi-mail-forbid-solid:before {
  content: "";
}

.jdsi-mail-inbox-solid:before {
  content: "";
}

.jdsi-mail-lock-solid:before {
  content: "";
}

.jdsi-mail-open-solid:before {
  content: "";
}

.jdsi-mail-search-solid:before {
  content: "";
}

.jdsi-mail-send-solid:before {
  content: "";
}

.jdsi-mail-settings-solid:before {
  content: "";
}

.jdsi-mail-solid:before {
  content: "";
}

.jdsi-mail-star-solid:before {
  content: "";
}

.jdsi-mail-unread-solid:before {
  content: "";
}

.jdsi-male-solid:before {
  content: "";
}

.jdsi-manage-solid:before {
  content: "";
}

.jdsi-map-pin-land-solid:before {
  content: "";
}

.jdsi-map-pin-solid:before {
  content: "";
}

.jdsi-measurement-solid:before {
  content: "";
}

.jdsi-message-solid:before {
  content: "";
}

.jdsi-mic-off-solid:before {
  content: "";
}

.jdsi-mic-solid:before {
  content: "";
}

.jdsi-minus-solid:before {
  content: "";
}

.jdsi-money-box-solid:before {
  content: "";
}

.jdsi-money-circle-solid:before {
  content: "";
}

.jdsi-monitor-solid:before {
  content: "";
}

.jdsi-moon-solid:before {
  content: "";
}

.jdsi-more-h-solid:before {
  content: "";
}

.jdsi-more-v-solid:before {
  content: "";
}

.jdsi-mouse-solid:before {
  content: "";
}

.jdsi-newspaper-solid:before {
  content: "";
}

.jdsi-notification-solid:before {
  content: "";
}

.jdsi-owl-solid:before {
  content: "";
}

.jdsi-paintbucket-solid:before {
  content: "";
}

.jdsi-palette-solid:before {
  content: "";
}

.jdsi-participants-solid:before {
  content: "";
}

.jdsi-pdf-solid:before {
  content: "";
}

.jdsi-percent-solid:before {
  content: "";
}

.jdsi-phone-solid:before {
  content: "";
}

.jdsi-pie-chart-solid:before {
  content: "";
}

.jdsi-plant-solid:before {
  content: "";
}

.jdsi-plus-solid:before {
  content: "";
}

.jdsi-power-solid:before {
  content: "";
}

.jdsi-printer-solid:before {
  content: "";
}

.jdsi-project-solid:before {
  content: "";
}

.jdsi-question-answer-solid:before {
  content: "";
}

.jdsi-quill-pen-solid:before {
  content: "";
}

.jdsi-radar-solid:before {
  content: "";
}

.jdsi-record-solid:before {
  content: "";
}

.jdsi-refrash-solid:before {
  content: "";
}

.jdsi-reload-solid:before {
  content: "";
}

.jdsi-reply-all-solid:before {
  content: "";
}

.jdsi-reply-solid:before {
  content: "";
}

.jdsi-right-box-solid:before {
  content: "";
}

.jdsi-right-circle-solid:before {
  content: "";
}

.jdsi-right-solid:before {
  content: "";
}

.jdsi-rocket-solid:before {
  content: "";
}

.jdsi-sad-solid:before {
  content: "";
}

.jdsi-safe-solid:before {
  content: "";
}

.jdsi-safe-vault-solid:before {
  content: "";
}

.jdsi-save-solid:before {
  content: "";
}

.jdsi-search-solid:before {
  content: "";
}

.jdsi-secured-solid:before {
  content: "";
}

.jdsi-security-user-solid:before {
  content: "";
}

.jdsi-send-solid:before {
  content: "";
}

.jdsi-sensor-solid:before {
  content: "";
}

.jdsi-server-solid:before {
  content: "";
}

.jdsi-settings-solid:before {
  content: "";
}

.jdsi-share-forward-solid:before {
  content: "";
}

.jdsi-share-solid:before {
  content: "";
}

.jdsi-shield-solid:before {
  content: "";
}

.jdsi-shield-star-solid:before {
  content: "";
}

.jdsi-small-home-solid:before {
  content: "";
}

.jdsi-smartphone-solid:before {
  content: "";
}

.jdsi-stack-solid:before {
  content: "";
}

.jdsi-star-solid:before {
  content: "";
}

.jdsi-sun-solid:before {
  content: "";
}

.jdsi-swap-solid:before {
  content: "";
}

.jdsi-tablet-solid:before {
  content: "";
}

.jdsi-team-solid:before {
  content: "";
}

.jdsi-thumb-down-solid:before {
  content: "";
}

.jdsi-thumb-up-solid:before {
  content: "";
}

.jdsi-todo-solid:before {
  content: "";
}

.jdsi-tools-manage-solid:before {
  content: "";
}

.jdsi-trophy-solid:before {
  content: "";
}

.jdsi-umbrella-solid:before {
  content: "";
}

.jdsi-upload-solid:before {
  content: "";
}

.jdsi-user-solid:before {
  content: "";
}

.jdsi-vidicon-solid:before {
  content: "";
}

.jdsi-volume-down-solid:before {
  content: "";
}

.jdsi-volume-mute-solid:before {
  content: "";
}

.jdsi-volume-up-solid:before {
  content: "";
}

.jdsi-wallet-solid:before {
  content: "";
}

.jdsi-webcam-solid:before {
  content: "";
}

.jdsi-window-solid:before {
  content: "";
}

.jdsi-woman-solid:before {
  content: "";
}

.jdsi-word-files-solid:before {
  content: "";
}

.jdsi-word-solid:before {
  content: "";
}

.jdsi-worning-triangle-solid:before {
  content: "";
}

.jdsi-wpexplorer-solid:before {
  content: "";
}

.jdsi-zoom-in-solid:before {
  content: "";
}

.jdsi-zoom-out-solid:before {
  content: "";
}

.jdsi-age-outline:before {
  content: "";
}

.jdsi-checklist-outline:before {
  content: "";
}

.jdsi-enroll-outline:before {
  content: "";
}

.jdsi-finger-tap-outline:before {
  content: "";
}

.jdsi-hand-pen-outline:before {
  content: "";
}

.jdsi-handshak-outline:before {
  content: "";
}

.jdsi-knowledgebase-outline:before {
  content: "";
}

.jdsi-meter-gauge-outline:before {
  content: "";
}

.jdsi-pen-outline:before {
  content: "";
}

.jdsi-quick-enroll-outline:before {
  content: "";
}

.jdsi-talking-outline:before {
  content: "";
}

.jdsi-target-outline:before {
  content: "";
}

.jdsi-task-outline:before {
  content: "";
}

.jdsi-team-outline:before {
  content: "";
}
/*# sourceMappingURL=fonts.css.map */
