$icomoon-font-family: "julyico" !default;
$icomoon-font-path: "fonts" !default;

$jdsi-Printer: "\eac3";
$jdsi-account: "\e9f2";
$jdsi-add-user: "\e9f3";
$jdsi-alarm-warning: "\e9f4";
$jdsi-align-center: "\e9f5";
$jdsi-align-justify: "\e9f6";
$jdsi-align-left: "\e9f7";
$jdsi-align-right: "\e9f8";
$jdsi-announcement: "\e9f9";
$jdsi-arrow-back: "\e9fa";
$jdsi-arrow-begin: "\e9fb";
$jdsi-arrow-down: "\e9fc";
$jdsi-arrow-end: "\e9fd";
$jdsi-arrow-first: "\e9fe";
$jdsi-arrow-last: "\e9ff";
$jdsi-arrow-left: "\ea00";
$jdsi-arrow-left-double: "\ea01";
$jdsi-arrow-left-long: "\ea02";
$jdsi-arrow-right: "\ea03";
$jdsi-arrow-right-double: "\ea04";
$jdsi-arrow-right-long: "\ea05";
$jdsi-arrow-right-top: "\ea06";
$jdsi-arrow-up: "\ea07";
$jdsi-article: "\ea08";
$jdsi-at: "\ea09";
$jdsi-attachment: "\ea0a";
$jdsi-award: "\ea0b";
$jdsi-bank-card: "\ea0c";
$jdsi-bar-chart: "\ea0d";
$jdsi-barricade: "\ea0e";
$jdsi-blueprint: "\ea0f";
$jdsi-bolt: "\ea10";
$jdsi-book: "\ea11";
$jdsi-book-open: "\ea15";
$jdsi-bookmark: "\ea12";
$jdsi-bookmark-minus: "\ea13";
$jdsi-bookmark-star: "\ea14";
$jdsi-briefcase: "\ea16";
$jdsi-brush: "\ea17";
$jdsi-bug: "\ea18";
$jdsi-building: "\ea19";
$jdsi-calculate: "\ea1a";
$jdsi-calendar: "\ea1b";
$jdsi-certificate: "\ea1c";
$jdsi-chart-customize: "\ea1d";
$jdsi-chat: "\ea1e";
$jdsi-circle-album: "\ea1f";
$jdsi-clipboard: "\ea20";
$jdsi-clock: "\ea21";
$jdsi-clock-alram: "\ea22";
$jdsi-close: "\ea23";
$jdsi-cloud: "\ea24";
$jdsi-cloud-check: "\ea25";
$jdsi-cloud-close: "\ea26";
$jdsi-cloud-crack: "\ea27";
$jdsi-cloud-down: "\ea28";
$jdsi-cloud-off: "\ea29";
$jdsi-cloud-up: "\ea2a";
$jdsi-code: "\ea2b";
$jdsi-collapse-around: "\ea2c";
$jdsi-community: "\ea2d";
$jdsi-community-building: "\ea2e";
$jdsi-company: "\ea2f";
$jdsi-compass: "\ea30";
$jdsi-configuration: "\ea31";
$jdsi-confused: "\ea32";
$jdsi-contacts: "\eb0f";
$jdsi-copy: "\ea33";
$jdsi-countdown: "\ea34";
$jdsi-cross-box: "\ea35";
$jdsi-cross-circle: "\ea36";
$jdsi-cross-open: "\ea37";
$jdsi-crown: "\ea38";
$jdsi-cup: "\ea39";
$jdsi-currency-boxes: "\ea3a";
$jdsi-cut: "\ea3b";
$jdsi-delete: "\ea3c";
$jdsi-devices: "\ea3d";
$jdsi-diamond: "\ea3e";
$jdsi-documant: "\ea3f";
$jdsi-dollar: "\ea40";
$jdsi-door-lock: "\ea41";
$jdsi-double-quotes-left: "\ea42";
$jdsi-double-quotes-right: "\ea43";
$jdsi-download: "\ea44";
$jdsi-earth: "\ea45";
$jdsi-edit: "\ea46";
$jdsi-education: "\ea47";
$jdsi-enroll: "\ea48";
$jdsi-error-circle: "\ea4c";
$jdsi-error-open: "\ea4d";
$jdsi-excel: "\ea4e";
$jdsi-excel-files: "\ea4f";
$jdsi-exchange-box: "\ea50";
$jdsi-expand-around: "\ea51";
$jdsi-eye: "\ea52";
$jdsi-eye-off: "\ea53";
$jdsi-face-mask: "\ea54";
$jdsi-fax: "\ea55";
$jdsi-female: "\ea56";
$jdsi-file: "\ea57";
$jdsi-file-pdf: "\ea58";
$jdsi-file-shred: "\ea59";
$jdsi-file-unknow: "\ea5b";
$jdsi-files-unknow: "\ea5a";
$jdsi-filter: "\ea5c";
$jdsi-filtering: "\ea5d";
$jdsi-fire: "\ea5e";
$jdsi-flag: "\ea5f";
$jdsi-flag-wind: "\ea60";
$jdsi-focus: "\ea61";
$jdsi-fold-paper: "\ea65";
$jdsi-folder: "\ea62";
$jdsi-folder-open: "\ea63";
$jdsi-folders: "\ea64";
$jdsi-forward: "\ea66";
$jdsi-function: "\ea67";
$jdsi-function-e: "\ea68";
$jdsi-global-net: "\ea69";
$jdsi-globe: "\ea6a";
$jdsi-graph-chart: "\ea6b";
$jdsi-grid: "\ea6c";
$jdsi-hamburger: "\ea6d";
$jdsi-handshake: "\eb0b";
$jdsi-happy: "\ea6e";
$jdsi-heart: "\ea6f";
$jdsi-help-box: "\ea70";
$jdsi-help-circle: "\ea71";
$jdsi-help-open: "\ea72";
$jdsi-home: "\ea73";
$jdsi-honour: "\ea74";
$jdsi-ico: "\ea75";
$jdsi-image: "\ea79";
$jdsi-image-place: "\ea7a";
$jdsi-incognito: "\eb11";
$jdsi-industry: "\ea7b";
$jdsi-key: "\ea7c";
$jdsi-laptop: "\ea7d";
$jdsi-lifebuoy: "\ea7e";
$jdsi-light: "\ea7f";
$jdsi-light-flash: "\ea80";
$jdsi-link: "\ea81";
$jdsi-list: "\ea82";
$jdsi-loading: "\ea83";
$jdsi-lock: "\ea84";
$jdsi-login-box: "\ea85";
$jdsi-login-circle: "\ea86";
$jdsi-logo-july: "\ea87";
$jdsi-logo-unify: "\ea88";
$jdsi-logout-box: "\ea89";
$jdsi-logout-circle: "\ea8a";
$jdsi-magic: "\ea8b";
$jdsi-magnet: "\ea8c";
$jdsi-mail: "\ea8d";
$jdsi-mail-add: "\ea8e";
$jdsi-mail-check: "\ea8f";
$jdsi-mail-close: "\ea90";
$jdsi-mail-download: "\ea91";
$jdsi-mail-forbid: "\ea92";
$jdsi-mail-inbox: "\ea93";
$jdsi-mail-lock: "\ea94";
$jdsi-mail-open: "\ea95";
$jdsi-mail-search: "\ea96";
$jdsi-mail-send: "\ea97";
$jdsi-mail-settings: "\ea98";
$jdsi-mail-star: "\ea99";
$jdsi-mail-unread: "\ea9a";
$jdsi-male: "\ea9b";
$jdsi-manage: "\ea9c";
$jdsi-map-pin: "\ea9d";
$jdsi-map-pin-land: "\ea9e";
$jdsi-measurement: "\ea9f";
$jdsi-message: "\eaa0";
$jdsi-mic: "\eaa1";
$jdsi-mic-off: "\eaa2";
$jdsi-minus: "\eaa3";
$jdsi-money-box: "\eaa4";
$jdsi-money-circle: "\eaa5";
$jdsi-monitor: "\eaa6";
$jdsi-moon: "\eaa7";
$jdsi-more-h: "\eaa8";
$jdsi-more-v: "\eaa9";
$jdsi-mouse: "\eaaa";
$jdsi-newspaper: "\eaab";
$jdsi-notification: "\eaac";
$jdsi-number0: "\eaad";
$jdsi-number1: "\eaae";
$jdsi-number2: "\eaaf";
$jdsi-number3: "\eab0";
$jdsi-number4: "\eab1";
$jdsi-number5: "\eab2";
$jdsi-number6: "\eab3";
$jdsi-number7: "\eab4";
$jdsi-number8: "\eab5";
$jdsi-number9: "\eab6";
$jdsi-owl: "\eab7";
$jdsi-paintbucket: "\eab8";
$jdsi-palette: "\eab9";
$jdsi-participants: "\eaba";
$jdsi-pdf: "\eabb";
$jdsi-percent: "\eabc";
$jdsi-phone: "\eabd";
$jdsi-pie-chart: "\eabe";
$jdsi-pin: "\eabf";
$jdsi-plant: "\eac0";
$jdsi-plus: "\eac1";
$jdsi-power: "\eac2";
$jdsi-product: "\eac4";
$jdsi-project: "\eac5";
$jdsi-question-answer: "\ead2";
$jdsi-quill-pen: "\ead3";
$jdsi-radar: "\ead4";
$jdsi-record: "\ead5";
$jdsi-refrash: "\ead6";
$jdsi-refresh: "\ead7";
$jdsi-reload: "\ead8";
$jdsi-reply: "\ead9";
$jdsi-reply-all: "\eada";
$jdsi-right: "\eadb";
$jdsi-right-box: "\eadc";
$jdsi-right-circle: "\eadd";
$jdsi-right-double: "\eade";
$jdsi-right-open: "\eadf";
$jdsi-rocket: "\eae0";
$jdsi-sad: "\eae1";
$jdsi-safe: "\eae2";
$jdsi-safe-vault: "\eae3";
$jdsi-save: "\eae4";
$jdsi-search: "\eae5";
$jdsi-secured: "\eae6";
$jdsi-security-user: "\eb12";
$jdsi-send: "\eae7";
$jdsi-sensor: "\eae8";
$jdsi-server: "\eae9";
$jdsi-settings: "\eaea";
$jdsi-share: "\eaeb";
$jdsi-share-forward: "\eaec";
$jdsi-shield: "\ea4b";
$jdsi-shield-star: "\ea76";
$jdsi-single-quotes-left: "\eaed";
$jdsi-single-quotes-right: "\eaee";
$jdsi-small-home: "\eaef";
$jdsi-smartphone: "\eaf0";
$jdsi-stack: "\eaf1";
$jdsi-star: "\eaf2";
$jdsi-sun: "\eaf3";
$jdsi-swap: "\eaf4";
$jdsi-tablet: "\eaf5";
$jdsi-team: "\eaf6";
$jdsi-thumb-down: "\eb0d";
$jdsi-thumb-up: "\eb0c";
$jdsi-todo: "\eaf7";
$jdsi-toogle: "\eaf8";
$jdsi-tools-manage: "\eaf9";
$jdsi-trophy: "\eafa";
$jdsi-umbrella: "\eafb";
$jdsi-upload: "\eafc";
$jdsi-user: "\eafd";
$jdsi-vidicon: "\eafe";
$jdsi-volume-down: "\eaff";
$jdsi-volume-mute: "\eb00";
$jdsi-volume-up: "\eb01";
$jdsi-wallet: "\eb02";
$jdsi-webcam: "\eb03";
$jdsi-window: "\eb04";
$jdsi-woman: "\eb10";
$jdsi-word: "\eb05";
$jdsi-word-files: "\eb06";
$jdsi-worning-triangle: "\eb07";
$jdsi-wpexplorer: "\eb08";
$jdsi-zoom-in: "\eb09";
$jdsi-zoom-out: "\eb0a";
$jdsi-account-solid: "\e900";
$jdsi-add-user-solid: "\e901";
$jdsi-alarm-warning-solid: "\e902";
$jdsi-announcement-solid: "\e903";
$jdsi-arrow-back-solid: "\e904";
$jdsi-arrow-begin-solid: "\e905";
$jdsi-arrow-down-solid: "\e906";
$jdsi-arrow-end-solid: "\e907";
$jdsi-arrow-first-solid: "\e908";
$jdsi-arrow-last-solid: "\e909";
$jdsi-arrow-left-double-solid: "\e90a";
$jdsi-arrow-left-long-solid: "\e90b";
$jdsi-arrow-left-solid: "\e90c";
$jdsi-arrow-right-double-solid: "\e90d";
$jdsi-arrow-right-long-solid: "\e90e";
$jdsi-arrow-right-solid: "\e90f";
$jdsi-arrow-right-top-solid: "\e910";
$jdsi-arrow-up-solid: "\e911";
$jdsi-article-solid: "\e912";
$jdsi-at-solid: "\e913";
$jdsi-award-solid: "\e914";
$jdsi-bank-card-solid: "\e915";
$jdsi-bar-chart-solid: "\e916";
$jdsi-barricade-solid: "\e917";
$jdsi-blueprint-solid: "\e918";
$jdsi-bolt-solid: "\e919";
$jdsi-book-open-solid: "\e91d";
$jdsi-book-solid: "\e91e";
$jdsi-bookmark-minus-solid: "\e91a";
$jdsi-bookmark-solid: "\e91b";
$jdsi-bookmark-star-solid: "\e91c";
$jdsi-briefcase-solid: "\e91f";
$jdsi-brush-solid: "\e920";
$jdsi-bug-solid: "\e921";
$jdsi-building-solid: "\e922";
$jdsi-calculate-solid: "\e923";
$jdsi-calendar-solid: "\e924";
$jdsi-carrot-down-solid: "\e925";
$jdsi-carrot-first-solid: "\e926";
$jdsi-carrot-last-solid: "\e927";
$jdsi-carrot-left-solid: "\e928";
$jdsi-carrot-right-solid: "\e929";
$jdsi-carrot-up-down-solid: "\e92a";
$jdsi-carrot-up-solid: "\e92b";
$jdsi-certificate-solid: "\e92c";
$jdsi-chart-customize-solid: "\e92d";
$jdsi-chat-solid: "\e92e";
$jdsi-circle-album-solid: "\e92f";
$jdsi-clipboard-solid: "\e930";
$jdsi-clise-solid: "\e931";
$jdsi-clock-alram-solid: "\e932";
$jdsi-clock-solid: "\e933";
$jdsi-cloud-check-solid: "\e934";
$jdsi-cloud-close-solid: "\e935";
$jdsi-cloud-crack-solid: "\e936";
$jdsi-cloud-down-solid: "\e937";
$jdsi-cloud-off-solid: "\e938";
$jdsi-cloud-solid: "\e939";
$jdsi-cloud-up-solid: "\e93a";
$jdsi-code-solid: "\e93b";
$jdsi-collapse-around-solid: "\e93c";
$jdsi-community-building-solid: "\e93d";
$jdsi-community-solid: "\e93e";
$jdsi-company-solid: "\e93f";
$jdsi-compass-solid: "\e940";
$jdsi-configuration-solid: "\e941";
$jdsi-confused-solid: "\e942";
$jdsi-contacts-solid: "\e943";
$jdsi-copy-solid: "\e944";
$jdsi-countdown-solid: "\e945";
$jdsi-cross-box-solid: "\e946";
$jdsi-cross-circle-solid: "\e947";
$jdsi-crown-solid: "\e948";
$jdsi-cup-solid: "\e949";
$jdsi-currency-boxes-solid: "\e94a";
$jdsi-cut-solid: "\e94b";
$jdsi-delete-solid: "\e94c";
$jdsi-devices-solid: "\e94d";
$jdsi-diamond-solid: "\e94e";
$jdsi-documant-solid: "\e94f";
$jdsi-dollar-solid: "\e950";
$jdsi-door-lock-solid: "\e951";
$jdsi-download-solid: "\e952";
$jdsi-earth-solid: "\e953";
$jdsi-edit-solid: "\e954";
$jdsi-education-solid: "\e955";
$jdsi-error-solid: "\e956";
$jdsi-excel-files-solid: "\e957";
$jdsi-excel-solid: "\e958";
$jdsi-exchange-box-solid: "\e959";
$jdsi-expand-around-solid: "\e95a";
$jdsi-eye-off-solid: "\e95b";
$jdsi-eye-solid: "\e95c";
$jdsi-face-mask-solid: "\e95d";
$jdsi-fax-solid: "\e95e";
$jdsi-female-solid: "\e95f";
$jdsi-file-pdf-solid: "\e960";
$jdsi-file-shred-solid: "\e961";
$jdsi-file-solid: "\e962";
$jdsi-file-unknow-solid: "\e964";
$jdsi-files-unknow-solid: "\e963";
$jdsi-filling-solid: "\e965";
$jdsi-filter-solid: "\e966";
$jdsi-fire-solid: "\e967";
$jdsi-flag-solid: "\e968";
$jdsi-flag-wind-solid: "\e969";
$jdsi-focus-solid: "\e96a";
$jdsi-fold-paper-solid: "\e96e";
$jdsi-folder-open-solid: "\e96b";
$jdsi-folder-solid: "\e96c";
$jdsi-folders-solid: "\e96d";
$jdsi-forward-solid: "\e96f";
$jdsi-function-solis: "\e970";
$jdsi-global-net-solid: "\e971";
$jdsi-globe-solid: "\e972";
$jdsi-graph-chart-solid: "\e973";
$jdsi-grid-solid: "\e974";
$jdsi-hamburger-solid: "\e975";
$jdsi-handshake-solid: "\e9ef";
$jdsi-happy-solid: "\e976";
$jdsi-heart-solid: "\e977";
$jdsi-help-box-solid: "\e978";
$jdsi-help-circle-solid: "\e979";
$jdsi-home-solid: "\e97a";
$jdsi-honour-solid: "\e97b";
$jdsi-image-place-solid: "\e97c";
$jdsi-image-solid: "\e97d";
$jdsi-incognito-solid: "\eb0e";
$jdsi-industry-solid: "\e97e";
$jdsi-key-solid: "\e97f";
$jdsi-laptop-solid: "\e980";
$jdsi-lifebuoy-solid: "\e981";
$jdsi-light-flash-solid: "\e982";
$jdsi-light-solid: "\e983";
$jdsi-link-solid: "\e984";
$jdsi-list-solid: "\e985";
$jdsi-lock-solid: "\e986";
$jdsi-login-box-solid: "\e987";
$jdsi-login-circle-solid: "\e988";
$jdsi-logout-box-solid: "\e989";
$jdsi-logout-circle-solid: "\e98a";
$jdsi-magic-solid: "\e98b";
$jdsi-magnet-solid: "\e98c";
$jdsi-mail-add-solid: "\e98d";
$jdsi-mail-check-solid: "\e98e";
$jdsi-mail-close-solid: "\e98f";
$jdsi-mail-download-solid: "\e990";
$jdsi-mail-forbid-solid: "\e991";
$jdsi-mail-inbox-solid: "\e992";
$jdsi-mail-lock-solid: "\e993";
$jdsi-mail-open-solid: "\e994";
$jdsi-mail-search-solid: "\e995";
$jdsi-mail-send-solid: "\e996";
$jdsi-mail-settings-solid: "\e997";
$jdsi-mail-solid: "\e998";
$jdsi-mail-star-solid: "\e999";
$jdsi-mail-unread-solid: "\e99a";
$jdsi-male-solid: "\e99b";
$jdsi-manage-solid: "\e99c";
$jdsi-map-pin-land-solid: "\e99d";
$jdsi-map-pin-solid: "\e99e";
$jdsi-measurement-solid: "\e99f";
$jdsi-message-solid: "\e9a0";
$jdsi-mic-off-solid: "\e9a1";
$jdsi-mic-solid: "\e9a2";
$jdsi-minus-solid: "\e9a3";
$jdsi-money-box-solid: "\e9a4";
$jdsi-money-circle-solid: "\e9a5";
$jdsi-monitor-solid: "\e9a6";
$jdsi-moon-solid: "\e9a7";
$jdsi-more-h-solid: "\e9a8";
$jdsi-more-v-solid: "\e9a9";
$jdsi-mouse-solid: "\e9aa";
$jdsi-newspaper-solid: "\e9ab";
$jdsi-notification-solid: "\e9ac";
$jdsi-owl-solid: "\e9ad";
$jdsi-paintbucket-solid: "\e9ae";
$jdsi-palette-solid: "\e9af";
$jdsi-participants-solid: "\e9b0";
$jdsi-pdf-solid: "\e9b1";
$jdsi-percent-solid: "\e9b2";
$jdsi-phone-solid: "\e9b3";
$jdsi-pie-chart-solid: "\e9b4";
$jdsi-plant-solid: "\e9b5";
$jdsi-plus-solid: "\e9b6";
$jdsi-power-solid: "\e9b7";
$jdsi-printer-solid: "\e9b8";
$jdsi-project-solid: "\e9b9";
$jdsi-question-answer-solid: "\e9ba";
$jdsi-quill-pen-solid: "\e9bb";
$jdsi-radar-solid: "\e9bc";
$jdsi-record-solid: "\e9bd";
$jdsi-refrash-solid: "\e9be";
$jdsi-reload-solid: "\e9bf";
$jdsi-reply-all-solid: "\e9c0";
$jdsi-reply-solid: "\e9c1";
$jdsi-right-box-solid: "\e9c2";
$jdsi-right-circle-solid: "\e9c3";
$jdsi-right-solid: "\e9c4";
$jdsi-rocket-solid: "\e9c5";
$jdsi-sad-solid: "\e9c6";
$jdsi-safe-solid: "\e9c7";
$jdsi-safe-vault-solid: "\e9c8";
$jdsi-save-solid: "\e9c9";
$jdsi-search-solid: "\e9ca";
$jdsi-secured-solid: "\e9cb";
$jdsi-security-user-solid: "\e9cc";
$jdsi-send-solid: "\e9cd";
$jdsi-sensor-solid: "\e9ce";
$jdsi-server-solid: "\e9cf";
$jdsi-settings-solid: "\e9d0";
$jdsi-share-forward-solid: "\e9d1";
$jdsi-share-solid: "\e9d2";
$jdsi-shield-solid: "\ea49";
$jdsi-shield-star-solid: "\ea4a";
$jdsi-small-home-solid: "\e9d3";
$jdsi-smartphone-solid: "\e9d4";
$jdsi-stack-solid: "\e9d5";
$jdsi-star-solid: "\e9d6";
$jdsi-sun-solid: "\e9d7";
$jdsi-swap-solid: "\e9d8";
$jdsi-tablet-solid: "\e9d9";
$jdsi-team-solid: "\e9da";
$jdsi-thumb-down-solid: "\e9f1";
$jdsi-thumb-up-solid: "\e9f0";
$jdsi-todo-solid: "\e9db";
$jdsi-tools-manage-solid: "\e9dc";
$jdsi-trophy-solid: "\e9dd";
$jdsi-umbrella-solid: "\e9de";
$jdsi-upload-solid: "\e9df";
$jdsi-user-solid: "\e9e0";
$jdsi-vidicon-solid: "\e9e1";
$jdsi-volume-down-solid: "\e9e2";
$jdsi-volume-mute-solid: "\e9e3";
$jdsi-volume-up-solid: "\e9e4";
$jdsi-wallet-solid: "\e9e5";
$jdsi-webcam-solid: "\e9e6";
$jdsi-window-solid: "\e9e7";
$jdsi-woman-solid: "\e9e8";
$jdsi-word-files-solid: "\e9e9";
$jdsi-word-solid: "\e9ea";
$jdsi-worning-triangle-solid: "\e9eb";
$jdsi-wpexplorer-solid: "\e9ec";
$jdsi-zoom-in-solid: "\e9ed";
$jdsi-zoom-out-solid: "\e9ee";
$jdsi-age-outline: "\ea77";
$jdsi-checklist-outline: "\ea78";
$jdsi-enroll-outline: "\eac6";
$jdsi-finger-tap-outline: "\eac7";
$jdsi-hand-pen-outline: "\eac8";
$jdsi-handshak-outline: "\eac9";
$jdsi-knowledgebase-outline: "\eaca";
$jdsi-meter-gauge-outline: "\eacb";
$jdsi-pen-outline: "\eacc";
$jdsi-quick-enroll-outline: "\eacd";
$jdsi-talking-outline: "\eace";
$jdsi-target-outline: "\eacf";
$jdsi-task-outline: "\ead0";
$jdsi-team-outline: "\ead1";

